<a href="https://colab.research.google.com/github/ravi18kumar2021/python-programs/blob/main/python_basics_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### WAP to print the given strings as per stated format.

**Given strings**:
```
"apple" "red" "eat"
"lion" "roar"
```
**Output**:
```
apple-red-eat-consume-lion-roar
```

In [1]:
# code
print("apple", "red", "eat", sep="-", end="-consume-")
print("lion", "roar", sep="-")

apple-red-eat-consume-lion-roar

### WAP to Convert US Dollar (USD) to Indian Rupees (INR).
*Note* - Check and use the current exchange rate.

In [6]:
# code
USD_amount = 5
INR_amount = 83.19 * USD_amount # change as per your need
print(USD_amount, "USD :", INR_amount, "INR")

5 USD : 415.95 INR

### WAP to take 2 numbers as input from the user and swap the numbers without using any special python syntax.

In [7]:
# code
num1 = int(input('Enter first number : '))
num2 = int(input('Enter second number : '))
print('Before swaping, first number :', num1, 'and second number :', num2)
temp = num1
num1 = num2
num2 = temp
print('After swaping, first number :', num1, 'and second number :', num2)

Enter first number : 53
Enter second number : 18
Before swaping, first number : 53 and second number : 18
After swaping, first number : 18 and second number : 53

### WAP to find the euclidean distance between two coordinates. Take both the coordinates from the user as input.

In [5]:
# code
x1, y1 = input('Enter the first coordinate separated by comma : ').split(',')
x2, y2 = input('Enter the second coordinate separated by comma : ').split(',')
x1, x2, y1, y2 = int(x1), int(x2), int(y1), int(y2)
euclidean_distance = round(((x1 - x2)**2 + (y1 - y2)**2)**0.5, 2)
print('Euclidean distance : ', euclidean_distance)

Enter the first coordinate separated by comma : 3,6
Enter the second coordinate separated by comma : 2,7
Euclidean distance :  1.41

### WAP to find the BMI where user will provide their height (in cm) and weight (in kg).

In [9]:
# code
height = float(input("Enter the height : "))
weight = float(input("Enter the weight : "))
height_meters = height / 100 # convert height in cm into m
bmi = round(weight / (height_meters ** 2), 2)
print("BMI :", bmi, "kg/m2")

Enter the height : 170
Enter the weight : 64
BMI : 22.15 kg/m2

### WAP to find the simple interest when the value of principle, rate of interest and time period is provided by the user.

In [10]:
# code
p = int(input('Enter principle amount : '))
r = float(input('Enter rate of interest : '))
t = int(input('Enter time period of interest : '))
SI = p * r * t / 1000
print('Simple Interest :', SI)

Enter principle amount : 12000
Enter rate of interest : 0.6
Enter time period of interest : 3
Simple Interest : 21600.0

### WAP that will tell the number of cats and parrots when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
cats -> 2
parrots -> 2

Mathematical equations:-
<br>
eq1: ```number of cats + number of parrots = number of heads```
<br>
eq2: ```number of cats * 4 + number of parrots * 2 = number of legs```
<br>
Using eq1 and eq2,
<br>
```number of cats * 4 + (number of heads - number of cats) * 2 = number of legs```
<br>
```number of cats * 4 + number of heads * 2 - number of cats * 2 = number of legs```
<br>
```number of cats * 2 = number of legs - number of heads * 2```
<br>
```number of cats = (number of legs - number of heads * 2) / 2```

In [13]:
# code
heads = int(input('Enter number of heads : '))
legs = int(input('Enter number of legs : '))
cats = int((legs - heads * 2) / 2)
parrots = heads - cats
print("cats :", cats, "and parrots :", parrots)

Enter number of heads : 4
Enter number of legs : 12
cats : 2 and parrots : 2

### WAP to find the sum of squares of first n natural numbers where n will be provided by the user.

In [15]:
# code
num = int(input('Enter a number : '))
result = 0
for i in range(1, num + 1):
  result = result + i**2
print('Sum of squares of first', num, 'natural numbers is', result)

Enter a number : 6
Sum of squares of first 6 natural numbers is 91

In [16]:
# code (using mathematical formula) : sum = [n * (n + 1) * (2n + 1)]/6
num = int(input('Enter a number : '))
result = int((num * (num + 1) * (2 * num + 1))/6)
print('Sum of squares of first', num, 'natural numbers is', result)

Enter a number : 6
Sum of squares of first 6 natural numbers is 91

### WAP to calculate the nth term of an arithmetic series, where all the inputs are provided by the user.

In [17]:
# code (using mathematical formula) : an = a1 + (n - 1) * d
first_num = int(input('Enter first num of the series : '))
second_num = int(input('Enter second num of the series : '))
find_num = int(input('Enter n : '))
difference = (second_num - first_num)
nth_term = first_num +  (find_num - 1) * difference
print('Nth Term of the provided series is', nth_term)

Enter first num of the series : 12
Enter second num of the series : 17
Enter n : 12
Nth Term of the provided series is 67

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [26]:
# code
num1 = int(input("Enter first numerator : "))
den1 = int(input("Enter first denominator : "))
num2 = int(input("Enter second numerator : "))
den2 = int(input("Enter second denominator : "))
final_numerator = (num1 * den2) + (num2 * den1)
final_denominator = den1 * den2
print("Sum of the fraction = ", final_numerator, "/", final_denominator, sep="")

Enter first numerator : 1
Enter first denominator : 2
Enter second numerator : 1
Enter second denominator : 2
Sum of the fraction = 4/4

In [28]:
# Write your code here
num1 = int(input("Enter first numerator : "))
den1 = int(input("Enter first denominator : "))
num2 = int(input("Enter second numerator : "))
den2 = int(input("Enter second denominator : "))
if den1 == den2: # case : same denominator
  num3 = num1 + num2
  den3 = den1
else: # case : different denominator
  num3 = num1*den2 + num2*den1
  den3 = den1*den2
temp = 1
if num3 > den3:
  for i in range(2, num3 + 1):
    if num3%i==0 and den3%i==0:
      temp = i
else:
  for j in range(2, den3 + 1):
    if num3%j==0 and den3%j==0:
      temp = j
num3 = num3//temp
den3 = den3//temp
if den3 == 1:
  print('Sum of fraction :', num3)
else:
  print('Sum of fraction : ', num3, '/', den3, sep='')

Enter first numerator : 5
Enter first denominator : 7
Enter second numerator : 8
Enter second denominator : 9
Sum of fraction : 101/63

### Given the height, width and breadth of a milk tank. WAP to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [29]:
H = int(input("Enter the height of tank : "))
W = int(input("Enter the width of tank : "))
B = int(input("Enter the breadth of tank : "))
h = int(input("Enter the height of glass : "))
r = int(input("Enter the radius of glass : "))
V1 = H * W * B
V2 = 3.14 * r * r * h
glasses = int(V1 // V2)
print("Number of milk glasses required :", glasses)

Enter the height of tank : 20
Enter the width of tank : 20
Enter the breadth of tank : 20
Enter the height of glass : 3
Enter the radius of glass : 1
Number of milk glasses required : 849