<a href="https://colab.research.google.com/github/ravi18kumar2021/python-programs/blob/main/Python_programs_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## String
Q. Write a Python program to calculate the length of a string without using the len() function.

In [1]:
string = input('Enter a string : ')
count = 0
for i in string:
  count += 1
print(count)

Enter a string : hello
5

Q. Write a Python program to concatenate two strings without using the + operator.

In [2]:
string1 = input('Enter string 1 : ')
string2 = input('Enter string 2 : ')
result = ''
for i in string1:
  result += i
for j in string2:
  result += j
print(result)

Enter string 1 : python
Enter string 2 : development
pythondevelopment

Q. Write a Python program to reverse a string without using slicing or any built-in reversal function.

In [4]:
string = input('Enter a string : ')
result = ''

for i in string:
  result = i + result

print(result)

Enter a string : python
nohtyp

Q. Write a Python program to check if a string is a palindrome (reads the same forwards and backwards) without using slicing or any built-in reversal function.

In [8]:
string = input('Enter a string : ')
flag = False
for i in range(len(string)//2):
  if string[i] != string[-1-i]:
    print('not palindrome')
    flag = True
    break
if not flag:
  print('palindrome')

Enter a string : malayalam
palindrome

Q. Write a Python program to count the number of vowels in a string.

In [9]:
string = input('Enter a string : ')
vowels = 'aeiouAEIOU'
count = 0
for i in string:
  if i in vowels:
    count += 1
print(count)

Enter a string : fantastic
3

Q. Write a Python program to convert a string to uppercase without using the .upper() method and to lowercase without using the .lower() method.

In [14]:
string  = input('Enter a string : ')

# to upper case
result1 = ''
for i in string:
  if 'a' <= i <= 'z':
    result1 += chr(ord(i) - 32)
  else:
    result1 += i
print('uppercase ', result1)

# to lower case
result2 = ''
for j in string:
  if 'A' <= j <= 'Z':
    result2 += chr(ord(j) + 32)
  else:
    result2 += j
print('lowercase ', result2)

Enter a string : pHYsIcS
uppercase  PHYSICS
lowercase  physics

Q. Write a Python program to check if two strings are anagrams of each other without using any built-in functions or data structures.

In [17]:
# length of two strings should be equal and characters should be same
string1 = input('Enter a string 1 : ')
string2 = input('Enter a string 2 : ')
is_equal = False
is_char_same = True
if len(string1) == len(string2):
  is_equal = True
for i in string1:
  if i not in string2:
    is_char_same = False
if is_equal and is_char_same:
  print('anagram')
else:
  print('not anagram')

Enter a string 1 : guava
Enter a string 2 : vagua
anagram

## List
Q. Write a Python program to sort a list of integers without using any built-in sorting functions or methods.

In [21]:
list1 = [3, 2, 7, 5, 1, 6]
list2 = []
for i in range(len(list1)):
  small = max(list1) + 1
  for j in range(i+1, len(list1)):
    if list1[i] > list1[j]:
      list1[i], list1[j] = list1[j], list1[i]
print(list1)

[1, 2, 3, 5, 6, 7]

Q. Write a Python program to flatten a nested list without using any built-in flattening functions.

In [22]:
list1 = [[5, 3], [2, 6, 7], [4, 1, 3]]
list2 = []
for i in list1:
  for j in i:
    list2.append(j)
print(list2)

[5, 3, 2, 6, 7, 4, 1, 3]

Q. Write a Python program to calculate the sum of all elements in a list without using the sum() function.

In [23]:
list1 = [5, 3, 1, 7, 4]
result = 0
for i in list1:
  result += i
print(result)

20

Q. Write a Python program to access the nth element of a list without using indexing or slicing.

In [24]:
lst = [5, 6.8, 23, True, 'python']
n = 2
counter = 0
for i in lst:
  if counter == n:
    print(i)
    break
  counter += 1

23

Q. Write a Python program to remove a specific element from a list without using the .remove() method.

In [25]:
list1 = ['apple', 'banana', 'guava', 'mango']
item = 'guava'
list2 = []
for i in list1:
  if i != item:
    list2.append(i)
print(list2)

['apple', 'banana', 'mango']

Q. Write a Python program to insert an element at a specific index in a list without using the .insert() method.

In [27]:
list1 = ['python', 'java', 'php', 'ruby', 'kotlin']
item = 'javascript'
pos = 3
list2 = []
for i in range(len(list1)):
  if i == pos:
    list2.append(item)
    list2.append(list1[i])
  else:
    list2.append(list1[i])
print(list2)

['python', 'java', 'php', 'javascript', 'ruby', 'kotlin']

Q. Write a Python program to multiply each element of a list by a constant factor without using list comprehensions or the map() function.

In [28]:
list1 = [4, 2, 6, 3, 1, 7]
factor = 3
list2 = []
for i in list1:
  temp = i * factor
  list2.append(temp)
print(list2)

[12, 6, 18, 9, 3, 21]

Q. Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [29]:
[i**2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q. Write a Python program to create a list of even numbers from 1 to 20 using list comprehension.

In [30]:
[i for i in range(1, 21) if i%2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Q. Write a Python program to create a 2D list (matrix) of size 3x3 where each element is the sum of its row and column indices using list comprehension.

In [33]:
# [[0, 1, 2], [1, 2, 3], [2, 3, 4]]
[[i+j for i in range(3)] for j in range(3)]

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

Q. Write a Python program to create a list of uppercase characters from a given string using list comprehension.

In [35]:
[i for i in 'pYtHOn' if i.isupper()]

['Y', 'H', 'O']

Q. Write a Python program to create a list of numbers divisible by both 3 and 5 from 1 to 50 using list comprehension.

In [36]:
[i for i in range(1, 51) if i%3 == 0 and i%5 == 0]

[15, 30, 45]

Q. Write a Python program to create a list of tuples where each tuple contains two even numbers from 1 to 10 using list comprehension.

In [38]:
# [(2, 2), (2, 4), (2, 6), (2, 8), (2, 10), (4, 2), ...]
[(i, j) for i in range(1, 11) for j in range(1, 11) if i%2 == 0 and j%2 == 0]

[(2, 2),
 (2, 4),
 (2, 6),
 (2, 8),
 (2, 10),
 (4, 2),
 (4, 4),
 (4, 6),
 (4, 8),
 (4, 10),
 (6, 2),
 (6, 4),
 (6, 6),
 (6, 8),
 (6, 10),
 (8, 2),
 (8, 4),
 (8, 6),
 (8, 8),
 (8, 10),
 (10, 2),
 (10, 4),
 (10, 6),
 (10, 8),
 (10, 10)]

## Set
Q. Write a Python program to add elements 'orange', 'banana', 'apple' to a set.

In [43]:
s = set()
s.update(['orange', 'banana', 'apple'])
print(s)

{'apple', 'orange', 'banana'}

In [44]:
s = set()
s.add('orange')
s.add('banana')
s.add('apple')
print(s)

{'apple', 'orange', 'banana'}

Q. Write a Python program that takes a set as input and generates its power set (i.e., the set of all subsets), utilizing bitwise operations or recursion to efficiently generate subsets.

In [52]:
# {1, 2, 3} -> {}, {1}, {2}, {3}, {1, 2}, {2, 3}, {1, 3}, {1, 2, 3} = 2^3 = 8
s1 = {1, 2, 3}
s2 = [set()]
for i in s1:
  for j in s2[:]:
    s = j.copy()
    s.add(i)
    s2.append(s)

print(s2)

[set(), {1}, {2}, {1, 2}, {3}, {1, 3}, {2, 3}, {1, 2, 3}]

Q. Write a Python program that takes two sets as input and generates and prints their Cartesian product (i.e., all possible pairs of elements from both sets).

In [53]:
s1 = {1, 3, 5}
s2 = {2, 4, 6}

{(i, j) for i in s1 for j in s2}

{(1, 2), (1, 4), (1, 6), (3, 2), (3, 4), (3, 6), (5, 2), (5, 4), (5, 6)}

## Dictionary
Q. Write a Python program that takes a string as input and counts the frequency of each character in the string, storing the results in a dictionary.

In [66]:
string = input('Enter a string : ')
result = {}

for i in string:
  if result.get(i):
    result[i] += 1
  else:
    result[i] = 1
print(result)

Enter a string : consistent
{'c': 1, 'o': 1, 'n': 2, 's': 2, 'i': 1, 't': 2, 'e': 1}

Q. Write a Python program that simulates a student gradebook using a dictionary. The program should allow users to add students along with their grades and then display the average grade for each student.

In [68]:
n = int(input('Enter the number of students : '))
d = {}
for i in range(n):
  name = input('Enter name of student {}: '.format(i+1))
  g1 = int(input('Enter grade of subject 1 : '))
  g2 = int(input('Enter grade of subject 2 : '))
  g3 = int(input('Enter grade of subject 3 : '))
  d[name] = round((g1 + g2 + g3)/3, 2)
print(d)

Enter the number of students : 4
Enter name of student 1: Aman
Enter grade of subject 1 : 67
Enter grade of subject 2 : 47
Enter grade of subject 3 : 83
Enter name of student 2: Gaurav
Enter grade of subject 1 : 40
Enter grade of subject 2 : 74
Enter grade of subject 3 : 50
Enter name of student 3: Jayant
Enter grade of subject 1 : 66
Enter grade of subject 2 : 46
Enter grade of subject 3 : 87
Enter name of student 4: Kishor
Enter grade of subject 1 : 46
Enter grade of subject 2 : 67
Enter grade of subject 3 : 36
{'Aman': 65.67, 'Gaurav': 54.67, 'Jayant': 66.33, 'Kishor': 49.67}